@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,800;1,800&family=Press+Start+2P&display=swap');

@import 'tailwindcss';

@theme {
	--color-main: #E60012;
	--color-secondary: #00C3E3;
	--color-black: #1F1F1F;
	--color-white: #FFFFFF;
	--color-gray: #727272;

	--font-main: 'Asap', sans-serif;
}